body {
    font-family: 'Roboto', sans-serif;
}

/* header and hero (dark blue section) */

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

.hero, header {
    background-color: #1F2937;
    display: flex;
    }

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: -15px;
}

.hero, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    width: 100px;
    height: 30px;
    flex: 0 0 auto
} 

.image {
    min-height: 200px;
    min-width: 400px;
    background-color: rgb(111, 120, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

header {
    align-items: center;
    gap: 20px;
    padding: 10px 150px 40px 150px;
}

.hero {
    flex-flow: column wrap;
    align-content: space-between;
}

.hero > * {
    max-width: 400px;
}

.hero, .white-div, .gray-div {
    padding: 20px 150px 110px;
    max-height: 300px;
}

/* second section (white section) */

.white-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

h2 {
    min-width: 100vw;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
    }

.image-wrap {
    display: flex;
    flex-flow: column wrap;
    max-width: 130px;
    margin-top: -20px;
    text-align: center;
}

.image-small {
    width: 130px;
    height: 130px;
    border: 3px solid #6ba0f5;
    border-radius: 15px;
    }

/* third section (grey section) */

.gray-div {
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    padding: 100px 130px 50px;
}

blockquote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.gray-div p {
    font-weight: 600;
    font-size: medium;
    align-self: flex-end;
    margin-right: 50px;
}

/* fourth section (call to action) */
.final {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}
.call-to-action {
    background-color: #3882F6;
    max-width: 50vw;
    max-height: 100px;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding: 30px 130px;
}

.call-to-action button {
    border: 3px solid white;
    margin-left: auto;
}

#call {
    font-size: 18px;
    font-weight: 900;
    margin: 20px 0 -30px 0px;
    min-width: 60vw;
}